.contact-central {
  position: relative;
  background-color: #fff;
  height: 60vh;
  width: 55%;

  //todo figure out how to make animation top down
  //  animation: slide-down-perm 2s forwards;
  left: -0%;
  animation: slide-perm 2s forwards;
}
