* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Mulish;
}

body,
html {
  background-color: #0e0e10;
}

h1 {
  font-size: 1.5rem;
}

a {
  color: black;
  text-decoration: none;
}

a::after {
  content: "";
  display: block;
  width: 0;
  height: 1px;
  background: black;
  transition: width 0.3s;
}

a:hover::after {
  width: 100%;
  transition: width 0.3s;
}

@keyframes slide {
  0% {
    left: -100%;
  }
  25% {
    left: -100%;
  }
  75% {
    left: 0;
  }
  100% {
    left: 100%;
  }
}

@keyframes slide-perm {
  0% {
    left: -100%;
  }
  25% {
    left: -100%;
  }
  75% {
    left: 0;
  }
  100% {
    left: 0;
  }
}

.active {
  position: relative;
  top: 0;
  opacity: 1;
  transition: 0.5s;
}
